<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fafabtc.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:name=".ClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.TradeActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activity.PortfolioCreateActivity"
            android:label="@string/create_assets"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".ui.activity.ExchangeEntryActivity" />
        <activity android:name=".ui.activity.ExchangeAssetsActivity" />

        <service
            android:name=".service.MainService"
            android:process=":loader" />
        <service android:name=".service.TradeService" />
        <service android:name=".service.SyncService" />

        <activity
            android:name=".ui.activity.BalanceDepositActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".ui.activity.BlockchainDepositActivity" />
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.PortfolioManageActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:label="@string/user_feedback" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/about" />

        <receiver
            android:name=".receiver.AssetsWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.fafabtc.app.constants.Boradcast.WidgetActions.ACTION_UPDATE_WIDGET"/>
                <action android:name="com.fafabtc.data.consts.DataBroadcasts.Actions.ACTION_DATA_INITIALIZED" />
                <action android:name="com.fafabtc.data.consts.DataBroadcasts.Actions.ACTION_TICKER_UPDATED" />
                <action android:name="com.fafabtc.app.constants.Boradcast.Actions.ACTION_CURRENT_ASSETS_CHANGED"/>
                <action android:name="com.fafabtc.app.constants.Boradcast.WidgetActions.ACTION_MANUL_UPDATE_TICKERS"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_portfolio" />
        </receiver>
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.WidgetService">
            <intent-filter>
                <action android:name="com.fafabtc.app.constants.Services.Actions.ACTION_UPDATE_TICKERS"/>
                <action android:name="com.fafabtc.app.constants.Services.Actions.ACTION_UPDATE_WIDGET"/>
            </intent-filter>
        </service>
    </application>

</manifest>